@{
    ViewData["Title"] = "Dashboard";
}

<div class="d-flex gap-4">

    <div class="d-flex bg-primary flex-grow-1 shadow-all-sides">
        <div class="d-flex justify-content-between p-4 w-100 text-white">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <div class="fs-5"> 
                    100.00
                </div>
                <div class="font-small">
                    SALES
                </div>
            </div>
            <div>
                <i class="bi-currency-dollar"></i> 
            </div>
        </div>
    </div>

    <div class="d-flex bg-danger flex-grow-1 shadow-all-sides">
        <div class="d-flex justify-content-between p-4 w-100 text-white">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <div class="fs-5"> 
                    100.00
                </div>
                <div class="font-small">
                    DELIVER
                </div>
            </div>
            <div>
                <i class="fs-1 bi-truck"></i> 
            </div>
        </div>
    </div>

    <div class="d-flex bg-warning flex-grow-1 shadow-all-sides">
        <div class="d-flex justify-content-between p-4 w-100 text-white">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <div class="fs-5"> 
                    100.00
                </div>
                <div class="font-small">
                    PICK-UP
                </div>
            </div>
            <div>
                <i class="fs-1 bi-box"></i> 
            </div>
        </div>
    </div>

    <div class="d-flex bg-success flex-grow-1 shadow-all-sides">
        <div class="d-flex justify-content-between p-4 w-100 text-white">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <div class="fs-5"> 
                    100.00
                </div>
                <div class="font-small">
                    UNPAID
                </div>
            </div>
            <div>
                <i class="fs-1 bi-exclamation-circle"></i> 
            </div>
        </div>
    </div>

    <div class="d-flex bg-primary flex-grow-1 shadow-all-sides">
        <div class="d-flex justify-content-between p-4 w-100 text-white">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <div class="fs-5"> 
                    100.00
                </div>
                <div class="font-small">
                    CUSTOMERS
                </div>
            </div>
            <div>
                <i class="fs-1 bi-people"></i> 
            </div>
        </div>
    </div>

    <div class="d-flex bg-secondary flex-grow-1 shadow-all-sides">
        <div class="d-flex justify-content-between p-4 w-100 text-white">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <div class="fs-5"> 
                    100.00
                </div>
                <div class="font-small">
                    EXPENSES
                </div>
            </div>
            <div>
                <i class="fs-1 bi-cash-stack"></i> 
            </div>
        </div>
    </div>

</div>

<div class="w-100 bg-white shadow-all-sides" style="height: 70vh;">
</div>
