@{
    Layout = null;
}

@model AllBlue.Models.UserAccount

<!-- Change password User Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="changePassForm" method="post" asp-action="ChangePassword">
                <input type="hidden" asp-for="User_Account_ID" />
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change User Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-between gap-2 p-4">
                   <div class="form-group w-100">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input asp-for="Password" id="password" type="text" class="form-control"/>
                    </div>

                    <div class="form-group w-100">
                        <label class="form-label">Re-type Password</label>
                        <input type="text" id="confirmPassword" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="w-100 d-flex justify-content-end gap-2 text-white">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-check-lg"></i>
                            Save
                        </button>
                        <button type="button" class="btn btn-danger">
                            <i class="bi bi-x"></i>
                            Close
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



