@{
    Layout = null;
};


<!-- Action History Modal -->
<div class="modal fade" id="stockOutModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="addForm" asp-action="AddCustomer" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Stock Out</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-row justify-content-between p-2">

                    <div class="d-flex flex-column gap-2 p-2" style="width: 67%">
                       
                        <div class="d-flex flex-row gap-2">

                            <div class="form-group w-100">
                                <label class="fw-bold">Quantity</label>
                                <input type="text" class="form-control" required/>
                            </div>

                            <div class="form-group w-100">
                                <label class="fw-bold">Status</label>
                                <select class="form-select" required>
                                    <option value="s">Consume</option>
                                    <option value="s">Damage</option>
                                    <option value="s">Other</option>
                                </select>
                            </div>

                            <div class="form-group w-100">
                                <label class="fw-bold">Date</label>
                                <input type="date" class="form-control" required/>
                            </div>
                        </div>


                        <div class="d-flex flex-column">
                            <label class="fw-bold">Comments</label>
                            <textarea class="form-control">
                            </textarea>
                        </div>
                        
                    </div>

                    <div class="d-flex flex-column gap-4 p-2" style="width: 31%;">
                        <div class="d-flex flex-column align-items-center">
                            <label for="">Preview</label>
                            <div class="border" style="width: 100px; height: 100px; background-color: #dee2e6;"> 
                            </div>
                        </div>

                        <div class="w-100 d-flex justify-content-center gap-2 text-white">
                            <div class="bg-success text-center p-2 d-inline-block">
                                <i class="bi bi-check-lg"></i>
                                Save Stock Out
                            </div>
                            <div class="bg-danger text-center p-2 d-inline-block">
                                <i class="bi bi-x"></i>
                                Close
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                </div>

            </form>
        </div>
    </div>
</div>
