@{
    Layout = null;
};


<!-- Action History Modal -->
<div class="modal fade" id="actionHistoryModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">
                    <i class="bi bi-clock-history"></i> 
                      Transaction History
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column p-2">

                <div class="border d-flex flex-column gap-2 p-2">
                    <div class="d-flex flex-column border-bottom pb-2">
                        <span class="fs-5 fw-bold">JORGE CASINGAL</span>
                        <span class="font-small">Tanolong, Bayambang</span>
                    </div>
                    
                    <table class="table table-striped" style="width: 100%; table-layout: fixed;">
                        <thead class="table-dark">
                            <tr>
                                <th class="font-small text-center" style="width: 40px" scope="col">#</th>
                                <th class="font-small text-center" scope="col">SERVICE</th>
                                <th class="font-small text-center" scope="col">QUANTITY</th>
                                <th class="font-small text-center" scope="col">FREE</th>
                                <th class="font-small text-center" scope="col">TOTAL</th>
                                <th class="font-small text-center" scope="col">STATUS</th>
                                <th class="font-small text-center" scope="col">INCHARGE</th>
                                <th class="font-small text-center" scope="col">DATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-extra-small text-center" scope="row">1</td>
                                <td class="font-extra-small text-center">
                                    <div class="bg-success text-white px-2 d-inline rounded-pill">Deliver</div>
                                </td>
                                <td class="font-extra-small text-center">6</td>
                                <td class="font-extra-small text-center">1</td>
                                <td class="font-extra-small text-center">100.00</td>
                                <td class="font-extra-small text-center">
                                    <div class="bg-success text-white px-2 d-inline rounded-pill">Paid</div>
                                </td>
                                <td class="font-extra-small text-center">Marimar Toralba</td>
                                <td class="font-extra-small text-center">2019-11-15</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>   
                
                
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
