@{
    Layout = null;
};


<!-- Action History Modal -->
<div class="modal fade" id="editBarangayModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="addForm" asp-action="AddCustomer" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Edit Barangay</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-row  p-2 gap-2">
                    <div class="form-group flex-grow-1">
                        <label class="form-label">City</label>
                        <select class="form-select" required>
                            <option value=""></option>
                            <option value="Container">Container</option>
                            <option value="Bottle">Bottle</option>
                            <option value="Seal">Seal</option>
                            <option value="Filter">Filter</option>
                            <option value="Packaging">Packaging</option>
                            <option value="Equipment">Equipment</option>
                            <option value="Bills">Bills</option>
                            <option value="Other Expenses">Other Expenses</option>
                        </select>
                    </div>

                    <div class="form-group flex-grow-1">
                        <label class="form-label">Barangay</label>
                        <input type="text" class="form-control" required/>
                    </div>

                    <div class="form-group flex-grow-1">
                        <label class="form-label">Pick Color Code</label>
                        <input type="color" class="form-control" required/>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="w-100 d-flex justify-content-end gap-2 text-white">
                        <div class="bg-success text-center p-2 d-inline-block">
                            <i class="bi bi-check-lg"></i>
                            Save
                        </div>
                        <div class="bg-danger text-center p-2 d-inline-block">
                            <i class="bi bi-x"></i>
                            Close
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
